/* Elements principaux de la page*/

body
{
	background: url('img/fond2.jpg');
	background-attachment: fixed;
}

#bloc_page
{
	color: #181818;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-family: Arial, sans-serif;
}

/*header*/

header
{

}

#titre_principal
{

}

header h1
{
    font-family: 'Lobster Two', cursive, Arial, serif;
    font-size: 3em;
    font-weight: normal;
	text-align: center;
    margin-bottom: 0px;
}

header h2
{
    font-family:'Lobster Two', Dayrom, serif;
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: normal;
	text-align: center;
}

/* Navigation */

nav
{

}

nav ul
{

}

nav li
{
    display: inline-block;
    margin-right: 15px;
	margin-left: 15px;
}

nav a
{
    font-size: 1.5em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Corps */

section h3
{
	font-size: 1.4em;
}

section h4
{
	font-size: 1.2em;
	text-decoration: underline;
}

section a:link
{
   color: black;
}
section a:visited
{
   color: black;
}

div article
{
    text-align: justify;
    margin-right: 20px;
	margin-left: 20px;
}

div article p
{
    font-size: 20px;
}

aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}



